{"name":"thunkablecompanion","slug":"thunkableCompanion","privacy":"unlisted","platforms":["ios","android","web"],"version":"1.0.0","orientation":"portrait","icon":"./assets/icon.png","splash":{"image":"./assets/splash.png","resizeMode":"contain","backgroundColor":"#ffffff"},"updates":{"enabled":false,"fallbackToCacheTimeout":0},"assetBundlePatterns":["**/*"],"ios":{"supportsTablet":true,"bundleIdentifier":"com.thunkable.live"},"scheme":"thunkable","android":{"package":"com.thunkable.live"},"entryPoint":"node_modules/expo/AppEntry.js","androidStatusBar":{"translucent":false,"backgroundColor":"#00000088"},"packagerOpts":{"config":"./metro.config.js"},"description":"React Native Companion app for Thunkable X","sdkVersion":"43.0.0","currentFullName":"@anonymous/thunkableCompanion","originalFullName":"@anonymous/thunkableCompanion"}